@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

    <!-- Sidebar -->
<aside class="h-screen bg-[#4D7766] flex flex-col items-center p-6">
        <!-- Profile Picture and Name -->
    <div class="flex flex-col items-center mb-8">
        <!-- Fetch Profile Picture -->
        @if (HttpContextAccessor.HttpContext.Session.GetString("ProfilePicture") is string profilePictureUrl)
        {
            <img src="@profilePictureUrl" alt="Profile Picture" class="h-24 w-24 rounded-full object-cover" />
        }
        else
        {
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 text-[#ECE7E1]" viewBox="0 0 48 48">
                <g fill="currentColor">
                    <path d="M32 20a8 8 0 1 1-16 0a8 8 0 0 1 16 0" />
                    <path fill-rule="evenodd" d="M23.184 43.984C12.517 43.556 4 34.772 4 24C4 12.954 12.954 4 24 4s20 8.954 20 20s-8.954 20-20 20h-.274q-.272 0-.542-.016M11.166 36.62a3.028 3.028 0 0 1 2.523-4.005c7.796-.863 12.874-.785 20.632.018a2.99 2.99 0 0 1 2.498 4.002A17.94 17.94 0 0 0 42 24c0-9.941-8.059-18-18-18S6 14.059 6 24c0 4.916 1.971 9.373 5.166 12.621" clip-rule="evenodd" />
                </g>
            </svg>
        }
        <h2 class="text-[#ECE7E1] text-lg font-semibold">
            @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        </h2>
    </div>


        <!-- Navigation Links -->
        <nav class="flex-1 w-full">
            <ul class="space-y-4 text-[#ECE7E1]">
                <li>
                <a class="flex items-center space-x-4 p-3 hover:bg-[#3B5D4D] rounded-xl no-underline @((ViewContext.RouteData.Values["controller"]?.ToString()== "Home") ?"bg-[#ECE7E1] text-[#4D7766] rounded-xl" : "text-[#ECE7E1]")" asp-controller="Home" asp-action="Index">
                    <svg class="h-8 w-8" viewBox="0 0 31 31" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.1871 31C22.1294 31 23.7961 30.898 25.1886 30.5885C26.599 30.2751 27.8215 29.7287 28.775 28.7751C29.7286 27.8216 30.275 26.5991 30.5884 25.1887C30.8979 23.7962 30.9999 22.1295 30.9999 20.1872V15.5C30.9999 13.7879 29.612 12.4 27.8999 12.4H15.4999C13.7878 12.4 12.3999 13.7879 12.3999 15.5V27.9C12.3999 29.6121 13.7878 31 15.4999 31H20.1871Z" fill="currentColor" />
                            <path d="M0 20.1872C0 22.1295 0.102052 23.7962 0.411556 25.1887C0.724966 26.5991 1.27133 27.8216 2.22492 28.7751C3.17851 29.7287 4.40096 30.2751 5.81118 30.5885C5.94623 30.6184 6.08197 30.6466 6.21826 30.6729C7.89925 30.9977 9.3 29.5749 9.3 27.8628V15.5C9.3 13.7879 7.91208 12.4 6.2 12.4H3.1C1.38792 12.4 0 13.7879 0 15.5V20.1872Z" fill="currentColor" />
                            <path d="M10.813 0C8.87062 0 7.20398 0.102052 5.81135 0.411556C4.40113 0.724966 3.17868 1.27133 2.22509 2.22492C1.2715 3.17851 0.725136 4.40096 0.411726 5.81118C0.385996 5.92698 0.361785 6.04316 0.339047 6.15967C0.00675792 7.86264 1.45551 9.3 3.19058 9.3H27.863C29.5751 9.3 30.9979 7.89925 30.6732 6.21826C30.6468 6.08197 30.6186 5.94623 30.5887 5.81118C30.2751 4.40096 29.7289 3.17851 28.7752 2.22492C27.8216 1.27133 26.5991 0.724966 25.189 0.411556C23.7963 0.102052 22.1297 0 20.1874 0H10.813Z" fill="currentColor" />
                        </svg>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                <a class="flex items-center space-x-4 p-3 hover:bg-[#3B5D4D] rounded-xl no-underline @((ViewContext.RouteData.Values["controller"]?.ToString()== "Expense") ?"bg-[#ECE7E1] text-[#4D7766] rounded-xl" : "text-[#ECE7E1]")" asp-controller="Expense" asp-action="ExpenseTable">
                        <svg class="h-8 w-8" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22.75 6.5H16.25C10.1217 6.5 7.05757 6.5 5.15375 8.4038C3.783 9.77455 3.39921 11.7468 3.29175 15.0312H35.7082C35.6008 11.7468 35.217 9.77455 33.8461 8.4038C31.9424 6.5 28.8782 6.5 22.75 6.5Z" fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.25 32.5H22.75C28.8782 32.5 31.9425 32.5 33.8461 30.5961C35.75 28.6925 35.75 25.6282 35.75 19.5C35.75 18.7819 35.75 18.1057 35.7469 17.4687H3.25307C3.25 18.1057 3.25 18.7819 3.25 19.5C3.25 25.6282 3.25 28.6925 5.1538 30.5961C7.05762 32.5 10.1217 32.5 16.25 32.5ZM8.53125 26C8.53125 25.3269 9.07691 24.7812 9.75 24.7812H16.25C16.9231 24.7812 17.4688 25.3269 17.4688 26C17.4688 26.6731 16.9231 27.2187 16.25 27.2187H9.75C9.07691 27.2187 8.53125 26.6731 8.53125 26ZM20.3125 24.7812C19.6394 24.7812 19.0938 25.3269 19.0938 26C19.0938 26.6731 19.6394 27.2187 20.3125 27.2187H22.75C23.4231 27.2187 23.9688 26.6731 23.9688 26C23.9688 25.3269 23.4231 24.7812 22.75 24.7812H20.3125Z" fill="currentColor" />
                        </svg>
                        <span>Expenses</span>
                    </a>
                </li>
                <li>
                <a class="flex items-center space-x-4 p-3 hover:bg-[#3B5D4D] rounded-xl no-underline @((ViewContext.RouteData.Values["controller"]?.ToString()== "Category") ?"bg-[#ECE7E1] text-[#4D7766] rounded-xl" : "text-[#ECE7E1]")" asp-controller="Category" asp-action="Index">
                    <svg class="h-8 w-8" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5_128)">
                                <path d="M8.4999 11.9H30.5999V28.9H3.3999V6.8H15.2999L18.6999 10.2H6.7999V25.5H8.4999V11.9Z" fill="currentColor" />
                            </g>
                            <defs>
                                <clipPath id="clip0_5_128">
                                    <rect width="34" height="34" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <span>Category</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center space-x-4 p-3 hover:bg-[#3B5D4D] rounded-md no-underline">
                        <svg class="h-8 w-8 text-[#ECE7E1]" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.8889 1.55556H17.1111V21.7777H10.8889V1.55556ZM7.77777 7.77777H1.55556V21.7777H7.77777V7.77777ZM28 24.8889H0V26.6H28V24.8889ZM26.4444 10.8889H20.2223V21.7777H26.4444V10.8889Z" fill="currentColor" />
                        </svg>
                        <span class ="text-[#ECE7E1]">Reporting & Analytics</span>
                    </a>
                </li>
                <li>
                <a  class="flex items-center space-x-4 p-3 hover:bg-[#3B5D4D] rounded-md no-underline  @((ViewContext.RouteData.Values["controller"]?.ToString()== "Settings") ?"bg-[#ECE7E1] text-[#4D7766] rounded-xl" : "text-[#ECE7E1]")" asp-controller="Settings" asp-action="AccountDetails">
                        <svg class ="h-8 w-8 text-[#ECE7E1]"  viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5_136)">
                                <path d="M19.8 0.000686646C19.3225 0.000692333 18.8645 0.190282 18.5268 0.527748C18.1892 0.865214 17.9995 1.32291 17.9995 1.80016V2.70077H1.80053C1.32301 2.70078 0.865049 2.89036 0.527387 3.2278C0.189725 3.56525 1.89571e-05 4.02293 0 4.50016C-2.15964e-06 4.73647 0.0465682 4.97046 0.137052 5.18878C0.227536 5.4071 0.360161 5.60548 0.527356 5.77257C0.69455 5.93967 0.893039 6.07222 1.11149 6.16265C1.32994 6.25308 1.56408 6.29963 1.80053 6.29963H17.9995V7.2013C17.9995 7.67855 18.1892 8.13625 18.5268 8.47371C18.8645 8.81118 19.3225 9.00077 19.8 9.00077C20.2775 9.00077 20.7355 8.81118 21.0732 8.47371C21.4108 8.13625 21.6005 7.67855 21.6005 7.2013V6.29963H25.1994C25.4358 6.29964 25.67 6.2531 25.8885 6.16268C26.1069 6.07225 26.3054 5.9397 26.4726 5.7726C26.6398 5.60551 26.7725 5.40713 26.8629 5.1888C26.9534 4.97048 27 4.73647 27 4.50016C27 4.26385 26.9534 4.02986 26.8629 3.81154C26.7724 3.59323 26.6398 3.39486 26.4726 3.22777C26.3054 3.06068 26.1069 2.92814 25.8884 2.83772C25.67 2.7473 25.4358 2.70076 25.1994 2.70077H21.6005V1.80016C21.6005 1.32291 21.4108 0.865214 21.0732 0.527748C20.7355 0.190282 20.2775 0.000692333 19.8 0.000686646ZM6.75 9.00069C6.51354 9.00068 6.2794 9.04722 6.06094 9.13764C5.84248 9.22807 5.64398 9.36062 5.47677 9.52772C5.30957 9.69481 5.17694 9.89319 5.08645 10.1115C4.99596 10.3298 4.94938 10.5638 4.94938 10.8002V11.7007H1.80105C1.5646 11.7007 1.33047 11.7472 1.11202 11.8377C0.893566 11.9281 0.695077 12.0606 0.527883 12.2277C0.360688 12.3948 0.228063 12.5932 0.137579 12.8115C0.0470955 13.0299 0.000525154 13.2639 0.000527336 13.5002C0.000525154 13.7365 0.0470955 13.9705 0.137579 14.1888C0.228063 14.4071 0.360688 14.6055 0.527883 14.7726C0.695077 14.9397 0.893566 15.0722 1.11202 15.1627C1.33047 15.2531 1.5646 15.2996 1.80105 15.2996H4.94938V16.2013C4.94938 16.4376 4.99596 16.6716 5.08645 16.8899C5.17694 17.1083 5.30957 17.3066 5.47677 17.4737C5.64398 17.6408 5.84248 17.7734 6.06094 17.8638C6.2794 17.9542 6.51354 18.0008 6.75 18.0008C7.22753 18.0008 7.68551 17.8112 8.02317 17.4737C8.36083 17.1362 8.55053 16.6785 8.55053 16.2013V15.2996H25.2C25.4365 15.2996 25.6706 15.2531 25.889 15.1627C26.1075 15.0722 26.306 14.9397 26.4732 14.7726C26.6404 14.6055 26.773 14.4071 26.8635 14.1888C26.954 13.9705 27.0005 13.7365 27.0005 13.5002C27.0005 13.2639 26.954 13.0299 26.8635 12.8115C26.773 12.5932 26.6404 12.3948 26.4732 12.2277C26.306 12.0606 26.1075 11.9281 25.889 11.8377C25.6706 11.7472 25.4365 11.7007 25.2 11.7007H8.55053V10.8002C8.55053 10.3229 8.36083 9.86521 8.02317 9.52775C7.68551 9.19028 7.22753 9.00069 6.75 9.00069ZM12.6 18.0008C12.1225 18.0008 11.6645 18.1904 11.3269 18.5278C10.9892 18.8653 10.7995 19.3229 10.7995 19.8002V20.7007H1.80105C1.5646 20.7007 1.33047 20.7472 1.11202 20.8377C0.893566 20.9281 0.695077 21.0606 0.527883 21.2277C0.360688 21.3948 0.228063 21.5932 0.137579 21.8115C0.0470955 22.0299 0.000525154 22.2639 0.000527336 22.5002C0.000546327 22.9774 0.190252 23.4351 0.527914 23.7725C0.865576 24.11 1.32354 24.2995 1.80105 24.2995H10.7995V25.2013C10.7995 25.6785 10.9892 26.1362 11.3269 26.4737C11.6645 26.8111 12.1225 27.0007 12.6 27.0007C13.0775 27.0007 13.5355 26.8111 13.8731 26.4737C14.2108 26.1362 14.4005 25.6785 14.4005 25.2013V24.2995H25.1994C25.436 24.2995 25.6701 24.253 25.8885 24.1626C26.107 24.0722 26.3055 23.9397 26.4727 23.7726C26.6399 23.6055 26.7725 23.4071 26.8629 23.1888C26.9534 22.9705 27 22.7365 27 22.5002C27 22.2639 26.9534 22.0299 26.8629 21.8115C26.7725 21.5932 26.6399 21.3948 26.4727 21.2277C26.3055 21.0606 26.107 20.9281 25.8885 20.8377C25.6701 20.7472 25.436 20.7007 25.1994 20.7007H14.4005V19.8002C14.4005 19.3229 14.2108 18.8653 13.8731 18.5278C13.5355 18.1904 13.0775 18.0008 12.6 18.0008Z" fill="currentColor" />
                            </g>
                        </svg>
                        <span class="text-[#ECE7E1]">Settings & Preferences</span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Log Out Button -->
        <a asp-action="SignOutUser" asp-controller="Account" class="flex items-center space-x-2 text-[#ECE7E1] mt-8 no-underline">
            <svg class="h-8 w-8 text-[#ECE7E1]" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7083 33.5416H16.0416C15.2361 33.5416 14.5833 32.8887 14.5833 32.0833C14.5833 31.2779 15.2361 30.625 16.0416 30.625H27.7083C28.5137 30.625 29.1666 29.9721 29.1666 29.1666V5.83331C29.1666 5.0279 28.5137 4.37498 27.7083 4.37498H16.0416C15.2361 4.37498 14.5833 3.72207 14.5833 2.91665C14.5833 2.11124 15.2361 1.45831 16.0416 1.45831H27.7083C30.1246 1.45831 32.0833 3.41707 32.0833 5.83331V29.1666C32.0833 31.583 30.1246 33.5416 27.7083 33.5416Z" fill="#ECE7E1" />
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.62931 19.4103C2.67922 18.3139 2.67922 16.6861 3.62933 15.5899L9.72035 8.56168C11.4886 6.52134 14.8411 7.77192 14.8411 10.4719V13.125H23.5911C25.202 13.125 26.5078 14.4308 26.5078 16.0416V18.9583C26.5078 20.5692 25.202 21.875 23.5911 21.875H14.8411V24.5281C14.8411 27.2281 11.4886 28.4786 9.72035 26.4383L3.62931 19.4103ZM6.66117 16.5449C6.18612 17.093 6.18612 17.907 6.66117 18.455L11.9244 24.5281V21.1458C11.9244 19.9377 12.9038 18.9583 14.1119 18.9583H23.5911V16.0416H14.1119C12.9038 16.0416 11.9244 15.0622 11.9244 13.8542V10.4719L6.66117 16.5449Z" fill="#ECE7E1" />
            </svg>

            <span class="text-lg">Log Out</span>
        </a>

    </aside>

